@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&family=Nunito:wght@700&family=Roboto+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&family=Nunito:wght@700&family=Roboto+Condensed:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden !important;
}

.header-container {
  background-color: #7d8079;
}
.header-container a {
  color: #070707;
}
.header-container a:hover {
  color: #fd2c07;
}

.container-contacto h3, .container-contacto a, .container-footer .parrafo-footer, .container-footer, .parrafo-descripcion {
  display: flex;
  justify-content: center;
  align-items: center;
}

.secction h2, #Arquitectura h2, #Ingenieria h2, #Hidráulicas h2, #Viales h2 {
  background-color: #808d06;
  padding: 20px;
  text-align: center;
  color: #645a03;
  font-size: 40px;
  font-weight: bolder;
  font-style: normal;
}

.bg-condicion {
  background-color: #808d06;
  border: 2px solid black;
}

.bg-condicion {
  background-color: #808d06;
  max-width: 50px;
}

.titulo-principal {
  padding: 30px 20px;
  font-size: 50px;
  color: #001011;
  font-weight: bold;
  font-style: initial;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  animation-name: cambiarcolor;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes cambiarcolor {
  0% {
    background-color: #808d06;
    color: aliceblue;
    transform: matrix(1);
    transition-duration: matrix(1);
  }
  50% {
    transform: ease-in-out;
    transition-duration: ease-in-out;
    background-color: brown;
  }
  100% {
    background-color: #645a03;
    color: gold;
  }
}

.subtitulo {
  color: #9c0d79;
  padding: 40px;
  font-size: 30px;
  font-weight: normal;
  font-style: italic;
  text-align: center;
}

.parrafo-descripcion {
  margin: 10px;
  padding: 10px;
  color: #050505;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
}

.secction h2, #Arquitectura h2, #Ingenieria h2, #Hidráulicas h2, #Viales h2 {
  margin: 10px;
}
.secction h2:hover, #Arquitectura h2:hover, #Ingenieria h2:hover, #Hidráulicas h2:hover, #Viales h2:hover {
  color: #f7e224;
}

.parrafo-arquitectura {
  padding: 25px;
  margin: 25px;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
}

.parrafo-ingenieria {
  padding: 25px;
  margin: 20px;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
}

.parrafo-hidraulica {
  padding: 25px;
  margin: 25px;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
}

.parrafo-viales {
  padding: 25px;
  margin: 25px;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
}

.container-footer {
  background-color: #7d8079;
  text-align: center;
  padding: 30px 0;
}
.container-footer .parrafo-footer {
  font-size: 25px;
  font-family: "Nunito", sans-serif;
}

.container-contacto {
  background-color: #d4bd0b;
  padding: 30px;
}
.container-contacto a {
  text-decoration: none;
  font-size: 30px;
  color: black;
}
.container-contacto a:hover {
  color: #dc4d14;
  font-size: 40px;
  text-decoration: underline;
}
.container-contacto h3 {
  font-size: 30px;
  font-family: "Nunito", sans-serif;
  animation-name: cambiartamaño;
  animation-duration: 4s;
}

@keyframes cambiartamaño {
  0% {
    font-size: 20px;
  }
  50% {
    font-size: 40px;
  }
  100% {
    font-size: 30px;
  }
}
.parrafo-descripcion, .container-footer, .container-footer .parrafo-footer, .container-contacto a, .container-contacto h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.secction h2, #Arquitectura h2, #Ingenieria h2, #Hidráulicas h2, #Viales h2 {
  background-color: #808d06;
  padding: 20px;
  text-align: center;
  color: #f5eeee;
  font-size: 40px;
  font-weight: bolder;
  font-style: normal;
}

.bg-condicion {
  background-color: #808d06;
  border: 2px solid black;
}

.bg-condicion {
  background-color: #808d06;
  max-width: 50px;
}

/*# sourceMappingURL=style.css.map */
