/* Para resetear los estilos de HTML utilizamos el selector universal - Elimina los valores predeterminados */
* {
    margin: 0; /* margen*/
    padding: 0; /* relleno */
}

/* Fonts de google*/
/* Regla + URL */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&family=Nunito:wght@700&family=Roboto+Condensed:wght@700&display=swap');


.m-color {
    background-color: rgb(7, 7, 7);
}

.nav-item a:hover {
    color: rgb(253, 44, 7);
    font-weight: bold;
}

/* Fin de Header */

.video-puente {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.titulo-principal {
    padding: 20px 10px;
    background-color: #d4bd0b;
    font-size:50px;
    color: #001011;
    font-weight: bold;
    font-style: initial;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    animation-name: cambiarcolor;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes cambiarcolor {
    0% {
        background-color: rgb(128, 141, 6);
        color: aliceblue;
        transform: matrix(1);
    }
    50% {
        transition: ease-in-out;
        background-color: brown;
    }
    100% {
        background-color: rgb(100, 90, 3);
        color: gold;
        transform: scale(1);
    }
}


.subtitulo {
    padding: 40px;
    color: #093A3E;
    font-size: 30px;
    font-weight: normal;
    font-style: italic;
    text-align: center;
}

.parrafo-descripcion {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    color: black;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
}

h2 {
    background-color: rgb(128, 141, 6);
    padding: 20px;
    margin: 40;
    text-align: center;
    color: rgb(245, 238, 238);
    font-size: 40px;
    font-weight: bolder;
    font-style:normal;
    transition: all 4s;
}

.parrafo-arquitectura {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    padding: 5px 10px;
}

.arquitectura-1, .arquitectura-2, 
.arquitectura-3, .arquitectura-4 {
    max-width: 100%;
    width: 450px;
    height: 400px;
    object-fit: cover;
    padding: 10px;
    margin: 30px;
}

/* ----- FIN SECCION ARQUITECTURA ------ */

.ingenieria-1, .ingenieria-2, .ingenieria-3 {
    padding: 25px;
    max-width: 100%;
    width: 450px;
    height: 400px;
    object-fit: cover;
    
} 

.parrafo-ingenieria {
    text-align: center;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    padding: 5px 10px;
    margin: 10px;
}

/* FIN DE SECCION INGENIERIA */

.hidraulica-1, .hidraulica-2 {
    padding: 15px;
    max-width: 100%;
    width: 600px;
    height: 400px;
    object-fit: cover;
}

.parrafo-hidraulica {
    text-align: center;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    padding: 5px 5px;
    margin: 10px;
}

/* FIN DE SECCION HIDRAULICA */

.viales-1, .viales-2, .viales-3 {
    max-width: 100%;
    width: 600px;
    height: 400px;
    padding: 10px;
    object-fit: cover;
}

.parrafo-viales {
    text-align: center;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    padding: 5px 0;
    margin: 10px;
}

/* Footer */

.container-footer {
    background-color: rgb(94, 97, 90);
    text-align: center;
    align-items: center;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.parrafo-footer {
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: 'Nunito Sans', sans-serif;
    padding: 20px;
}

.icono-Fc, .icono-Ig, .icono-In, .icono-Tw {
    /* display: grid;
    grid-template-columns: max-content; */
    width: 90px;
    height: 90px;
    padding: 25px;
    margin: 2px;
}

.container-contacto {
    background-color: #d4bd0b;
    padding: 20px;
    font-size: 25px;
    font-family: 'Nunito Sans', sans-serif;
    color: rgb(245, 238, 238);
    display: flex;
    justify-content: center;
}

.container-contacto a {
    text-decoration: none;
    font-size: 30px;
    color: rgb(5, 5, 5);
}

.container-contacto a:hover {
    color: rgb(220, 77, 20);
    font-size: 40px;
    text-decoration-line: underline;
    scale: (1.6);
}

/* RESPONSIVE TABLET */
@media only screen and (max-width: 768px) {
    .container-redes {
        display: flex;
        flex-direction: column;
        padding-bottom: 5px;
    }
}

/* RESPONSIVE MOBILE */

@media only screen and (max-width: 480px) {
    .icono-Fc, .icono-Ig, .icono-In, .icono-Tw {
        display: flex;
        flex-direction: column;
        width: 5%;
        height: auto;
        }
}

/* FIN DE FOOTER */

/* Página de Contacto */

a:visited {
    color: rgb(8, 143, 42);
}

.form-control:focus {
    background-color: rgb(186, 238, 181);
}

.container-contacto h3:hover {
    color: indianred;
}







